## Nomial/One Hot Encoding

In [3]:
import pandas as pd
from sklearn.preprocessing import OneHotEncoder

In [4]:
## Create a sample dataframe with a categorical variable
df=pd.DataFrame({"color":["red","blue","green","green","red","blue"]})

In [5]:
df

   color
0    red
1   blue
2  green
3  green
4    red
5   blue

In [6]:
## Create an intansce of one hot encoder
encoder=OneHotEncoder()

In [11]:
## fit the encoder to the dataframe and transform the categorical variable
encoded=encoder.fit_transform(df[["color"]])

In [17]:
import pandas as pd
encoded_df=pd.DataFrame(encoded.toarray(),columns=encoder.get_feature_names_out())

In [15]:
encoder.get_feature_names_out()

array(['color_blue', 'color_green', 'color_red'], dtype=object)

In [18]:
pd.concat([df,encoded_df],axis=1)

   color  color_blue  color_green  color_red
0    red         0.0          0.0        1.0
1   blue         1.0          0.0        0.0
2  green         0.0          1.0        0.0
3  green         0.0          1.0        0.0
4    red         0.0          0.0        1.0
5   blue         1.0          0.0        0.0

In [19]:
import seaborn as sns

In [21]:
#assignment
df=sns.load_dataset("tips")