In [1]:
k=[1,2,3,4,5]

In [6]:
for i in k:
    print(i,type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
5 <class 'int'>

In [8]:
k1=["anu","kumar","ani"]
for i in k1:
    print(i,type(k1))

anu <class 'list'>
kumar <class 'list'>
ani <class 'list'>

In [9]:
k1

['anu', 'kumar', 'ani']

In [12]:
for i in k1:
    print(i)
else:
    print("if for loop is able to complete itself then only else will execute")

anu
kumar
ani
if for loop is able to complete itself then only else will execute

In [13]:
k1

['anu', 'kumar', 'ani']

In [17]:
for i in k1:
    if i=="kumar":
        break
    print(i)

anu

In [25]:
k1

['anu', 'kumar', 'ani']

In [34]:
for i in k1:
    if i == "Kumar":
                         break
    print(i)
else:        
    print("execute this if for loop is able to complete itself")

anu
kumar
ani
execute this if for loop is able to complete itself

In [35]:
k1

['anu', 'kumar', 'ani']

In [29]:
for i in k1:
    if i =="kumar":
        continue
    print(i)

anu
ani

In [30]:
for i in k1:
    if i =="kumar":
        continue
    print(i)    
else:
    print("execute this if for loop is able to complete itself")

anu
ani
execute this if for loop is able to complete itself

In [37]:
range(5)

range(0, 5)

In [39]:
list(range(0,5,2))

[0, 2, 4]

In [45]:
range(0,20,2)

range(20, 2)

In [47]:
list(range(0,20,2))

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18]

In [48]:
list(range(-10,0))

[-10, -9, -8, -7, -6, -5, -4, -3, -2, -1]

In [53]:
k1

['anu', 'kumar', 'ani']

In [56]:
for i in range(len(k1)):
    print(k1[i])

anu
kumar
ani

In [61]:
k1

['anu', 'kumar', 'ani']

In [62]:
for i in range(len(k1)-1,-1,-1):
    print(k1[i])

ani
kumar
anu

In [65]:
k2=[12,25,4,5,78,6,5,78,87,457]
for i in range(0,len(k2),2):
    print(k2[i])

12
4
78
5
87

In [66]:
k2

[12, 25, 4, 5, 78, 6, 5, 78, 87, 457]

In [69]:
k3=[1,2,3,4,5,6,78]
sum(k3)

99

In [68]:
result=0
for i in k3:
    result=result+i
print(result)

99

In [71]:
t=(1,2,3,4,5)
for i in t:
    print(i)

1
2
3
4
5

In [72]:
result=0
for i in t:
    result=result+i
print(result)

15

In [74]:
h={1,2,3,4,5,"pwskills","kumar"}
for i in h:
    print(i)

1
2
3
4
5
pwskills
kumar

In [75]:
s1="pwskills"

In [77]:
for i in s1:
    print(i)

p
w
s
k
i
l
l
s

In [79]:
for i in range(0,len(s1),2):
    print(s1[i])

p
s
i
l

r1 = {"mame":"anu","class":"data science","topic":["python","statics",
      "machine learning"]}

print("name")

In [84]:
for i in r1.item():
    print(i)

NameError: name 'r1' is not defined